header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  background: var(--black);
  padding: 30px 20px 20px;
  z-index: 2;
  .header-name {
    display: flex;
    align-items: center;
    gap: 6px;
    user-select: none;
    .app-icon {
      height: 24px;
      width: 24px;
    } & p {
      font-size: 24px;
      font-weight: 900;
    }
  } 
  & i {
    font-size: 24px;
  }
}
