.my-feed {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  gap: 2rem;
  padding: 20px;
  scroll-behavior: smooth;
  .empty-state {
    text-align: center;
    color: #888;
    font-size: 16px;
    font-style: italic;
    margin-top: .5rem;
    line-height: 1.5;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
  }
  
  .post-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 100px;
    max-width: 400px;
    height: auto;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    .control-post {
      position: absolute;
      top: 5px;
      right: 15px;
      cursor: pointer;
      user-select: none;
      transition: .3s ease;
      z-index: 95;
      & i {
        position: relative;
        font-size: 10px;
        color: var(--gray);
        user-select: none;
        :hover {
          color: #8a8a8a;
        }
      }
    }

    .post-control {
      position: absolute;
      top: 15px;
      right: -5px;
      font-size: 10px;
      background: var(--black);
      border-radius: 4px;
      color: #FFF;
      z-index: 90;
      user-select: none;
      & ul li {
        padding: 8px;
        list-style-type: none;
        transition: .3s ease;
      } & li:first-child {
        &:hover {
          color: #63c6ff;
        }
      } & li:last-child {
        &:hover {
          color: #fe4c4c;
        }
      }
    }

    .date-posted {
      font-size: 9px;
      margin: 2px 5px;
      color: var(--gray);
    }
     .post-text.expanded {
      max-height: none;
    }
    .post-text {
      position: relative;
      padding: 5px 0;
      width: 100%;
      max-height: 220px;
      height: auto;
      overflow: hidden;
      & p {
        height: auto;
        padding: 20px 15px 10px;
      } 
      .see-more-toggle, .see-less-toggle {
        height: fit-content;
        position: absolute;
        bottom: -1px;
        right: 10px;
        background: #fff;
        font-size: 12px;
        padding: 0px;
        color: #888;
        font-weight: 500;
        user-select: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .post-media {
      display: flex;
      max-height: 400px;
      height: auto;
      width: 100%;
      & img {
        height: auto;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    .post-interactions {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #FFF;
      min-height: 50px;
      height: auto;
      background: var(--black);
      .bi-heart {
        &:hover {
          color: #aa2f56;
        }
      }
      & i {
        position: relative;
        font-size: 23px;
        cursor: pointer;
        user-select: none;
        transition: .4s;
        .bi-heart-fill {
          position: absolute;
          top: -1px;
          color: #e0245e;
          left: 0;
        }
        .bi-heart-fill.in {
          animation: zoomIn .4s ease-out forwards;
        }
        .bi-star-fill {
          position: absolute;
          color: #FFD700;
          top: -1px;
          left: 0;
        }
        .bi-star-fill.in {
          animation: zoomIn .4s ease-out forwards;
        }
      }
    }
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  } 80% {
    transform: scale(1.4);
  } 100% {
    transform: scale(1.1);
  }
}
