.my-feed {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  gap: 2rem;
  padding: 20px;
  scroll-behavior: smooth;

  .post-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 100px;
    max-width: 400px;
    max-height: 700px;
    height: auto;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .control-post {
      position: absolute;
      top: 5px;
      right: 15px;
      cursor: pointer;
      transition: .3s ease;
      & i {
        font-size: 10px;
        color: var(--gray);
        :hover {
          color: #8a8a8a;
        }
      }
    }

    .post-control {
      position: absolute;
      top: 15px;
      right: -5px;
      font-size: 10px;
      background: var(--black);
      border-radius: 4px;
      color: #FFF;
      z-index: 2;
      user-select: none;
      & ul li {
        padding: 8px;
        list-style-type: none;
        transition: .3s ease;
      } & li:first-child {
        &:hover {
          color: #63c6ff;
        }
      } & li:last-child {
        &:hover {
          color: #fe4c4c;
        }
      }
    }

    .date-posted {
      font-size: 9px;
      margin: 2px 5px;
      color: var(--gray);
    }

    .post-text {
      padding: 5px 0;
      width: 100%;
      max-height: 250px;
      height: auto;
      & p {
        padding: 20px 15px;
      }
    }

    .post-media {
      display: flex;
      max-height: 400px;
      height: auto;
      width: 100%;
      & img {
        height: auto;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    .post-interactions {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #FFF;
      min-height: 50px;
      height: auto;
      background: var(--black);
      & i {
        font-size: 23px;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
