.my-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  .cover-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-gray);
    height: 250px;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    } & i {
      position: absolute;
      font-size: 2rem;
      color: #67a1c0;
      margin-bottom: 25px;
      cursor: pointer;
      transition: .2s ease;
      &:hover {
        color: #92c7e3;
      }
    }
  }
  .profile-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10rem 20px 0;
    align-items: center;
    .profile-photo {
      position: absolute;
      height: 250px;
      width: 250px;
      top: 0px;
      left: 50%;
      padding: 30px;
      transform: translate(-50%, -50%);
      .my-profile {
        height: 100%;
        width: 100%;
        border-radius: 100px;
        background: var(--gray);
        box-shadow: 0 5px 20px #0000005c;
        overflow: hidden;
        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        } & i {
          position: absolute;
          font-size: 2rem;
          color: #67a1c0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          &:hover {
            color: #92c7e3;
          }
        }
      } 
      & p {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
        min-width: 80px;
        text-align: center;
        &:focus {
          border-bottom: 1px solid #000;
          outline: none;
        }
      } & i {
        position: absolute;
        user-select: none;
        top: 60%;
        left: 105%;
        transform: translate(-50%, -100%);
        cursor: pointer;
      }
    }
    .info-card, .info-card2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .name-data, .bday-data,
      .photo-count, .post-count {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 6px;
        width: 150px;
        font-size: 14px;
        border-bottom: 1px solid var(--black);
        & label {
          font-size: 10px;
          color: var(--gray);
        } & input {
          border: none;
          text-align: center;
          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }

    .about-card {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      width: 100%;
      .about-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        font-size: 13px;
        width: 100%;
        border-bottom: 1px solid var(--black);
        & label {
          font-size: 10px;
          color: var(--gray);
        } & p {
          position: relative;
          text-align: center;
          height: auto;
          width: 100%;
          padding-bottom: 6px;
          &:focus {
            outline: none;
          }
        }
      } & span {
        font-size: 8px;
      }
    }
    .created-date {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 6px;
      font-size: 14px;
      padding: 5px 10px;
      border-bottom: 1px solid var(--black);
      & label {
        font-size: 10px;
        color: var(--gray); 
      }
    }
  }
}