.post-creator {
  position: fixed;
  bottom: 60px;
  right: 40px;
  background: var(--black);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  z-index: 2;
  .app-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & img {
      height: 60%;
      width: 60%;
    }
  }
}

.create-post-overlay {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0 20px;
  background: rgba(31, 31, 31, 0.25);
  z-index: 99;
  .create-post {
    position: relative;
    min-height: 300px;
    min-width: 300px;
    max-height: 750px;
    max-width: 450px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
    .create-post_header {
      position: relative;
      top: 0;
      padding: 6px;
      width: 100%;
      text-align: center;
      color: var(--black);
      font-weight: 600;
      color: var(--gray);
      border-bottom: 1px solid #66666684;
    }

    .create-post_box {
      min-height: 150px;
      max-height: 250px;
      height: auto;
      width: 100%;
      padding:  12px 10px;
      overflow-y: scroll;
      scrollbar-width: none;
      font-size: var(--adjust_FontSize);
      letter-spacing: 0.5px;

      &:focus {
        outline: none;
      } 
    }
    .create-post_box.empty {
      &::before {
        content: 'Write something...';
        position: absolute;
        color: var(--gray);
      }
    }

    .prev-media {
      min-height: 0;
      max-height: 100px;
      height: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      gap: 6px;
      box-shadow: 0 0 2px rgba(0, 0, 0,  0.25);
      overflow-y: scroll;
      .media {
        position: relative;
        & i {
          position: absolute;
          top: -2px;
          right: 0;
          padding: 4px;
          font-size: 10px;
          color: #fff;
          background: #050505a4;
          border-radius: 20px;
        } & img {
          height: 75px;
          width: 75px;
          object-fit: cover;
          border-radius: 6px;
          box-shadow: 0 0 20px rgba(0, 0, 0,  0.25);
        }
      }
      
    }

    .post-actions {
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: var(--primary-gray);
      padding: 8px 20px 15px;
      height: 150px;
      width: 100%;
      .submit-post {
        color: #fff;
        background: var(--black);
        border: none;
        width: 100%;
        padding: 8px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s ease;
        &:hover {
          background: #2c2c2c;
        }
      }
      .post-extras {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        .add-media {
          display: flex;
          align-items: center;
          gap: 8px;
          & input[type="file"] {
            display: none;
          } & p{
            font-size: 10px;
          } & i {
            font-size: 24px;
            cursor: pointer;
            &:hover {
              color: #2c2c2c;
            }
          }
        }
        .adjust-font-size {
          display: flex;
          flex-direction: column;
          width: 80px;
          & label {
            font-size: 10px;
          } 
          .input-wrapper {
            position: relative;
            height: max-content;
            border-radius: 5px;
            overflow: hidden;
            & button {
              position: absolute;
              border: none;
              height: 100%;
              width: 30px;
              color: #fff;
              background: var(--black);
              left: 0;
              & :hover {
                background: #2c2c2c;
              }
            }
            & input {
              width: 100%;
              text-align: right;
              padding: 2px 4px;
              border-radius: 5px;
              border: none;
            } & input::placeholder {
              text-align: right;
            } & input:focus {
              outline: none;
              border: none;
            }
          }
        }
      }
    }
  }
}
