@import url('./styles/_header.scss');
@import url('./styles/_myfeed.scss');
@import url('./styles/_postcreator.scss');

:root {
  --black: #1F1F1F;
  --primary-gray: #D9D9D9;
  --gray: #666666;

  --adjust_FontSize: 14px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  background: var(--black);
  .loading-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    .app-icon {
      height: 90px;
      width: 90px;
      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    } 
    .app-name {
      font-weight: 700;
      font-size: 36px;
    }
  }
  .loading-paragraph {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    margin: 40px 0;
  } & p:last-child {
    position: absolute;
    bottom: 10%;
    width: 200px;
    text-align: center;
    font-size: 14px;
  }
}
